/example1_sendKeys.class
/example2_clear.class
/example3_click.class
/example4_getText.class
/example5_isEnabled1.class
/example5_isEnabled2.class
/example6_isSelected.class
/example7_Displayed.class
/example8_getAttribute.class
