/example1_getBooleanData.class
/example1_getNumericData.class
/example1_getStringData.class
/example2_getRowSize.class
/example3_getColSizeInARow.class
/example4_getNumericDataAsAString.class
/example5_getTypeOfData.class
/example6_getDataByVeriyingTypeOfCell.class
/example7_getAllDataInARow.class
/example8_getAllDataInACol.class
